body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .profile-selection-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px; /* Ajuste o espaçamento interno conforme necessário */
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin-top: 100%; /* Adicione um espaçamento superior conforme necessário */
    margin-bottom: 70%; /* Adicione um espaçamento inferior conforme necessário */
  }
  
  .container {
    max-width: 800px; /* Ajuste a largura máxima conforme necessário */
    width: 100%;
    text-align: center;
  }
  
  /* ... (o restante do seu código permanece o mesmo) */
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .roulette-container {
    text-align: center;
  }
  
  .roulette-wheel {
    width: 100%;
    max-width: 300px; /* Ajuste conforme necessário */
    height: 300px;
    border: 0px solid transparent; /* Tornar a borda invisível */
    border-radius: 50%;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    font-size: 16px;
  }
  
  .wheel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 50% 100%;
    font-weight: bold;
  }
  
  .wheel-item img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
  }
  
  /* Estilo para a cor de fundo e texto no centro da roleta */
  .roulette-center {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(91, 255, 233); /* Cor de fundo desejada */
    color: white; /* Texto branco */
    font-size: 18px; /* Tamanho da fonte do texto */
    border-radius: 50%;
    z-index: 1; /* Certifique-se de que o texto esteja acima das outras imagens */
  }
  
  button#spinWheel {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(91, 255, 233); /* Cor de fundo dourada */
    color: white; /* Texto branco */
    font-weight: bold; /* Texto em negrito */
    border: none; /* Remove a borda */
    border-radius: 8px; /* Adiciona um pouco de borda arredondada */
    outline: none; /* Remove a borda de foco ao clicar */
  }
  
  button#spinWheel:hover {
    background-color: rgb(0, 255, 145); /* Cor de fundo dourada escura no hover */
  }
  
  .premiada {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  